@model MVCMusicStoreApplication.Models.Album
@{
    ViewBag.Title = "Details";
}

<br /><br /><br />
<h3>Details</h3>

<div>
    <h2>@Model.Title</h2>
    <img src="@Model.AlbumArtUrl" alt="@Model.Title  album art" />
    <p>Artist: @Model.Artist.Name</p>
    <p>Price: @Model.Price</p>

    <div class="button">
        @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, null)
    </div>
</div>